@media all and (max-width: 768px) {
  .box {
    width: 130px !important;
    height: 136.66px !important;
  }

  .heading2 {
    padding: 100px 0px !important;
  }

  .bg__container {
    width: 130px !important;
  }
}
